@import "../variables";
@import "../../src/mixins/animation";
@import "../../src/mixins/geometry";
@import "../../src/mixins/hover_and_touch";
@import "../../src/mixins/responsive";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f6f7f8;
  color: #393c45;
}

.rowclass {
  padding: 10px;
}

.video-player-div {
  width: 40%;
}

.transcription-div {
  width: 50%;
  float: right;
  margin-top: -23%;
}


.product {
  cursor: pointer;
  position: relative;
  padding-bottom: 100px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 500ms ease-out;
  margin-bottom: 30px;
  border: 1px solid #ddd; }
  .product:hover {
    box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.2); }
    .product:hover .image_overlay {
      opacity: 0.7; }
    .product:hover .view_details {
      opacity: 1;
      width: 152px;
      font-size: 15px;
      margin-left: -75px;
      top: 35%;
      transition: all 200ms ease-out; }
  .product img {
    width: 100%; }
  .product.compare .image_overlay {
    opacity: 0.7; }
  .product .stats-container {
    background: #fff;
    padding: 0px 15px;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .product .stats-container .product_name {
      font-size: 22px;
      color: #393c45; }
    .product .stats-container p {
      font-size: 16px;
      color: #b1b1b3;
      margin: 0; }
    .product .stats-container .product_price {
      float: right;
      color: #48cfad;
      font-size: 22px;
      font-weight: 600; }
  .product .image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #48cfad;
    opacity: 0;
    transition: all 200ms ease-out; }
  .product .view_details {
    position: absolute;
    top: 112px;
    left: 50%;
    margin-left: -85px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    width: 172px;
    opacity: 0;
    transition: all 200ms ease-out; }
    .product .view_details:hover {
      background: #fff;
      color: #48cfad;
      cursor: pointer; }


      .compare table {
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.05);
        border: 1px solid #eee;
        font-size: 18px;
        table-layout: fixed; }
        .compare table .bg-red {
          background-color: #ff715b; }
        .compare table .bg-green {
          background-color: #48cfad; }
        .compare table .bg-blue {
          background-color: #0197F6; }
        .compare table tr > td,
        .compare table tr > th {
          padding-top: 25px;
          padding-bottom: 25px;
          text-align: center; }
        .compare table th[scope="row"] {
          font-size: 20px;
          color: #393c45;
          font-weight: normal;
          background-color: #f9f9f9;
          border: 1px solid #eee;
          text-align: left;
          padding-left: 45px; }
        .compare table tr.condition {
          color: #fff;
          font-size: 20px; }
        .compare table tr.colors span {
          height: 20px;
          width: 20px;
          display: inline-block;
          margin-right: 5px;
          border-radius: 100%; }
        .compare table thead th {
          font-size: 20px;
          color: #393c45;
          font-weight: normal; }
      
      .compare .thead-default th {
        background-color: #fff; }
      
        
        .project-transcription {
            .project-toolbar-container {
                position: absolute;
                right: 30px;
                top: 3px;
                @include only-small-devices {
                    position: inherit;
                    float: right;
                    right: 0;
                    top: 15px;
                    .project-toolbar {
                        margin-right: 0;
                    }
                }
        
            }
        
            margin-top: 15px;
        
        
            .transcriptions-list-container {
                width: 100%;
                min-height: 400px;
                font-family: "Gotham Book";
                margin-top: 20px;
                padding-left: 70px;
        
                &.only-audio-container {
                    margin: 0 auto;
                    margin-top: 20px;
                    &.with-sound-wave {
                        margin-top: 50px;
                    }
                    max-width: 800px;
                    .transcriptions-list {
                        margin-left: 0;
                    }
                    padding-left: 70px;
                }
        
                &.sticky-active {
                    margin-top: -25px;
                }
        
                &.with-sound-wave {
                    margin-top: 50px;
                    &.sticky-active {
                        margin-top: -3px;
                    }
                }
        
                @include regular-desktops {
                    padding-left: 450px;
                }
        
                @include large-desktops {
                    padding-left: 450px;
                }
        
                @include largest-desktops {
                    padding-left: 450px;
                }
        
                .transcriptions-list {
                    border: 1px solid #DFDFDF;
                    background: #FFF;
                    margin: 0 0 30px 0;
                    padding: 0;
        
                    @include up-to-regular-desktops {
                        margin-top: 5px;
                    }
        
        
                    @include regular-desktops {
                        margin-left: 30px;
                        margin-top: 0;
                    }
        
                    @include only-small-devices {
                        margin-top: -30px;
                    }
        
                    .transcription-row {
                        color: #7a7a7a;
                        opacity: 1;
        
                        &:hover {
                            .inner-toolbar {
                                .bookmark-icon, .notes-icon:not(.notes-icon-read-only)  {
                                    visibility: visible;
                                    transition: visibility 0s linear 98ms, opacity 300ms;
                                }
                            }
                        }
        
                        .transcription-time {
                            padding-left: 0;
                        }
        
                        &.rtl-transcriptions {
        
                            .transcription-time {
                                float: right;
                            }
        
                            .inner-toolbar {
                                display: table;
                                &.inner-toolbar-left {
                                    right: 50px;
                                    top: 10px;
                                    left: initial;
                                }
        
                                &.inner-toolbar-right {
                                    right: 50px;
                                    top: 32.5px;
                                    left: initial;
                                }
                                &.speaker-container {
                                    right: 10px;
                                    left: initial;
                                }
                            }
        
                            .transcription-data-container {
                                margin-left: 0;
                                margin-right: 40px;
                            }
        
                        }
                    }
        
                    .transcription-data-container{
                        margin-left: 40px;
                    }
        
                    .speaker-container {
                        left: 10px;
                        top: 10px;
                        .popover-inner {
                            max-height: 200px;
                            overflow-y: auto;
                        }
                        .speaker {
                            @include circle(30px);
                            position: relative;
                            color: #000;
                            font-size: 10px;
                            top: 17px;
                            padding-top: 2px;
                            display: table-cell;
                            text-align: center;
                            vertical-align: middle;
                            cursor: pointer;
                            &:hover:not(.disabled) {
                                opacity: 0.8;
                            }
                            &.default-speaker {
                                &:hover:not(.disabled) {
                                    color: #5a5a5a;
                                }
                            }
                            &.disabled {
                                cursor: default;
                            }
                        }
                        i {
                            display: table-cell;
                            vertical-align: middle;
                            padding-left: 5px;
                        }
        
                    }
        
                    .textarea-c.hide-label {
                        textarea.form-control {
                            height: 70px;
                        }
                    }
        
                    .transcription-project-name {
                        font-family: 'Gotham Medium';
                        color: #777;
                        cursor: text;
                        &.disabled {
                            cursor: default;
                        }
                        &:hover:not(.disabled) {
                            cursor: text;
                        }
        
                        &::selection {
                            background: #DFDFDF; /* WebKit/Blink Browsers */
                        }
                        &::-moz-selection {
                            background: #DFDFDF; /* Gecko Browsers */
                        }
                    }
        
                    .project-header {
                        margin-bottom: 25px;
                        padding-left: 30px;
        
                        @include only-small-devices {
                            margin-bottom: 80px;
                        }
        
                        .edit-name-input {
                            @include only-small-devices {
                                margin-right: 10px;
                            }
                            input {
                                margin-top: 4px;
                                padding: 0;
                                max-width: calc(100% - 290px);
                                text-overflow: ellipsis;
                                @include only-small-devices {
                                    max-width: none;
                                }
                            }
                        }
        
                        .fa-bookmark, .fa-bookmark-o  {
                            color: #f9a21d;
                        }
                        .fa-sticky-note, .fa-sticky-note-o {
                            color: #0EACDF;
                        }
        
                    }
        
                    .transcription {
                        &-row {
                            margin: 0;
                            padding: 10px 30px 5px 26px;
                            border-left: 4px solid #FFFFFF;
                            position: relative;
                            &:last-child {
                                padding-bottom: 5px;
                            }
                            @include transition (background 85ms ease-in,border-color 85ms);
                            &.playing {
                                border-left-color: $simon-main-color;
                                .transcription-time {
                                    color: #333;
                                }
                            }
        
                            &.bookmarked{
                                background: rgba(249, 142, 29, 0.2);
                            }
        
                            .inner-toolbar {
                                .bookmark-icon {
                                    color: #f9a21d;
                                }
        
                                .notes-icon {
                                    color: #0EACDF;
                                }
                            }
        
                            textarea.transcription-text {
                                overflow: hidden;
                                &.text-align-left {
                                    text-align: left;
                                }
                                &.text-align-right {
                                    text-align: right;
                                }
                                @include transition (background 85ms ease-in,border-color 85ms);
                            }
        
        
                            .inner-toolbar {
        
                                &.inner-toolbar-left {
                                    left: 51px;
                                    top: 10px;
                                }
        
                                &.inner-toolbar-right {
                                    left: 50px;
                                    top: 32.5px
                                }
        
                                position: absolute;
        
                                > span {
                                    visibility: hidden;
                                    color: $simon-main-color;
                                    cursor: pointer;
        
                                    &.visible {
                                        visibility: visible;
                                        transition: visibility 0s linear 98ms, opacity 300ms;
                                    }
                                }
                            }
                        }
        
                        &-time {
                            margin-bottom: 5px;
                            display: inline-block;
                            color: #b0c0c5;
                            font-size: 12.5px;
                            cursor: pointer;
                            &:hover {
                                color: #98a6aa;
                            }
                        }
        
                        &-text {
                            opacity: 1;
                            color: #777;
                            @include only-small-devices {
                                color: #000000;
                            }
                            font-size: 16px;
                            border: none;
                            background: none;
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            height: 20px;
                            text-align: left;
                            &:hover {
                                cursor: default;
                                &:not(.disabled) {
                                    cursor: text;
                                    color: #000000;
                                }
                            }
                            &:focus {
                                opacity: 1;
                                &:not(.disabled) {
                                    color: #000000;
                                }
                            }
                            @include all-mobile-devices {
                                font-size: 14px;
                            }
        
                            @include only-small-devices {
                                font-size: 12px;
                            }
                        }
                    }
                }
        
                .go-to-transcript-container {
                    @include all-mobile-devices {
                        font-size: 13px;
                    }
        
                    @include only-small-devices {
                        font-size: 11px;
                    }
        
                    margin-top: -15px;
                    .pull-left {
                        @include regular-desktops {
                            margin-left: 30px;
                        }
                    }
                    a {
                        padding-bottom: 10px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        
        }
        
        .new-speaker-input {
            background: #EDEFF0;
            width: 170px;
            margin-bottom: 5px;
        }
        
        
        .main-app-header-item {
            .media-read-only-info-icon {
                color: red;
                font-size: 16px;
            }
        }
        
       
        
        .annotation-row {
            @include only-small-devices {
                //display: none !important;
            }
        }
        
        .remaining-time-container {
            font-size: 12px;
            min-width: 200px;
            margin-left: 5px;
        
            .remaining-time-label {
                font-size: 11px;
                float: left;
                margin-left: 30px;
                margin-top: 1px;
            }
        
            .remaining-timer {
                font-family: "Courier New";
                float: left;
                margin-left: 10px;
                margin-top: 1px;
            }
        
            .countdown-decimal-seconds {
                font-family: "Courier New";
                float: left;
                width: 35px;
                text-align: left;
                margin-top: 1px;
            }
        }
        
        
        .speaker-table{
          background: white;
          td {
              white-space: nowrap;
              padding-left: 5px;
              padding-right: 5px;
              vertical-align: middle;
              &:last-child {
                  padding-left: 5px;
                  input {
                      margin-top: 5px;
                      max-width: 120px;
                      &:hover {
                          background: #EDEFF0;
                      }
                  }
        
              }
              &.speaker-initials-td {
                  width: 35px;
                  max-width: 35px;
                  cursor: pointer;
                  padding-right: 10px;
                  .speaker-initials {
                      @include circle(26px);
                      background: #EDEFF0;
                      color: #000;
                      text-align: center;
                      padding-top: 7px;
                      margin-top: 3px;
                      font-size: 10px;
                  }
              }
          }
        }
     
.rowclass {
    padding: 10px;
}

.video-player-div {
    width: 40%;
}

.transcription-div {
    width: 50%;
    float: right;
    margin-top: -34%;
}