@mixin hover-supported {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @-moz-document url-prefix() {
    &:hover {
      @media only screen and (min-width: 480px) {
        @content;
      }
    }
  }
}
