@import '../variables';
//////////////////////////////////////////////

@mixin all-mobile-devices {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin only-small-devices {
    @media only screen and (max-width: 479px) {
        @content;
    }
}

@mixin only-semi-smallest-devices {
    @media only screen and (max-width: 374px) {
        @content;
    }
}

@mixin only-smallest-devices {
    @media only screen and (max-width: 319px) {
        @content;
    }
}

@mixin up-to-regular-desktops {
    @media only screen and (max-width: $regular-desktop-max-boundary - 1) {
        @content;
    }
}

@mixin up-to-large-desktops {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

//////////////////////////////////////////////

//Smallest devices
@mixin smallest-devices {
    @media only screen and (min-width: 320px) {
        @content;
    }
}

//Small devices
@mixin small-devices {
    @media only screen and (min-width: 480px) {
        @content;
    }
}

//Tablets
@mixin tablets {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

//Regular Desktops
@mixin regular-desktops {
    @media only screen and (min-width: $regular-desktop-max-boundary ) {
        @content;
    }
}

//Large Desktops
@mixin large-desktops {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

//Largest Desktops
@mixin largest-desktops {
    @media only screen and (min-width: 1400px) {
        @content;
    }
}

//////////////////////////////////////////////

.hide-for-small-devices {
    @include only-small-devices {
        display: none !important;
    }
}

.show-only-for-small-devices {
    @include small-devices {
        display: none !important;
    }
}


//////////////////////////////////////////////////
// Others

@mixin between-up-small-and-regular-desktop {
  @media only screen and (min-width: 480px) and (max-width: $regular-desktop-max-boundary - 1) {
    @content;
  }
}
