//
// Color system
//

$simon-main-color: #7e56a2 !default;

$simon-main-medium-color: #9B7FB5 !default;

$simon-main-light-color: #BFACCE !default;

$simon-main-super-light-color: #D7D0DD !default;


$simon-link-hover-color: #8D0B93 !default;

$simon-highlight-color: #d94096 !default;

//
//Responsiveness
//

//// For Web
$regular-desktop-max-boundary: 992px;

//// For electron-app
// $regular-desktop-max-boundary: 1200px;



