body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background: #f6f7f8;
  color: #393c45;
}
.rowclass {
  padding: 10px;
}
.video-player-div {
  width: 40%;
}
.transcription-div {
  width: 50%;
  float: right;
  margin-top: -23%;
}
.product {
  cursor: pointer;
  position: relative;
  padding-bottom: 100px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 500ms ease-out;
  margin-bottom: 30px;
  border: 1px solid #ddd;
}
.product:hover {
  box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.2);
}
.product:hover .image_overlay {
  opacity: 0.7;
}
.product:hover .view_details {
  opacity: 1;
  width: 152px;
  font-size: 15px;
  margin-left: -75px;
  top: 35%;
  transition: all 200ms ease-out;
}
.product img {
  width: 100%;
}
.product.compare .image_overlay {
  opacity: 0.7;
}
.product .stats-container {
  background: #fff;
  padding: 0px 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.product .stats-container .product_name {
  font-size: 22px;
  color: #393c45;
}
.product .stats-container p {
  font-size: 16px;
  color: #b1b1b3;
  margin: 0;
}
.product .stats-container .product_price {
  float: right;
  color: #48cfad;
  font-size: 22px;
  font-weight: 600;
}
.product .image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #48cfad;
  opacity: 0;
  transition: all 200ms ease-out;
}
.product .view_details {
  position: absolute;
  top: 112px;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
  width: 172px;
  opacity: 0;
  transition: all 200ms ease-out;
}
.product .view_details:hover {
  background: #fff;
  color: #48cfad;
  cursor: pointer;
}
.compare table {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
  font-size: 18px;
  table-layout: fixed;
}
.compare table .bg-red {
  background-color: #ff715b;
}
.compare table .bg-green {
  background-color: #48cfad;
}
.compare table .bg-blue {
  background-color: #0197f6;
}
.compare table tr > td, .compare table tr > th {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
.compare table th[scope="row"] {
  font-size: 20px;
  color: #393c45;
  font-weight: normal;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  text-align: left;
  padding-left: 45px;
}
.compare table tr.condition {
  color: #fff;
  font-size: 20px;
}
.compare table tr.colors span {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 100%;
}
.compare table thead th {
  font-size: 20px;
  color: #393c45;
  font-weight: normal;
}
.compare .thead-default th {
  background-color: #fff;
}
.project-transcription {
  margin-top: 15px;
}
.project-transcription .project-toolbar-container {
  position: absolute;
  right: 30px;
  top: 3px;
}
.project-transcription .transcriptions-list-container {
  width: 100%;
  min-height: 400px;
  font-family: "Gotham Book";
  margin-top: 20px;
  padding-left: 70px;
}
.project-transcription .transcriptions-list-container.only-audio-container {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 800px;
  padding-left: 70px;
}
.project-transcription .transcriptions-list-container.only-audio-container.with-sound-wave {
  margin-top: 50px;
}
.project-transcription .transcriptions-list-container.only-audio-container .transcriptions-list {
  margin-left: 0;
}
.project-transcription .transcriptions-list-container.sticky-active {
  margin-top: -25px;
}
.project-transcription .transcriptions-list-container.with-sound-wave {
  margin-top: 50px;
}
.project-transcription .transcriptions-list-container.with-sound-wave.sticky-active {
  margin-top: -3px;
}

.transcription-row {
  color: #7a7a7a;
  opacity: 1;
}
.transcription-row:hover .inner-toolbar .bookmark-icon, .transcription-row:hover .inner-toolbar .notes-icon:not(.notes-icon-read-only) {
  visibility: visible;
  transition: visibility 0s linear 98ms, opacity 300ms;
}
.transcription-row .transcription-time {
  padding-left: 0;
}
.transcription-row.rtl-transcriptions .transcription-time {
  float: right;
}
.transcription-row.rtl-transcriptions .inner-toolbar {
  display: table;
}
.transcription-row.rtl-transcriptions .inner-toolbar.inner-toolbar-left {
  right: 50px;
  top: 10px;
  left: initial;
}
.transcription-row.rtl-transcriptions .inner-toolbar.inner-toolbar-right {
  right: 50px;
  top: 32.5px;
  left: initial;
}
.transcription-row.rtl-transcriptions .inner-toolbar.speaker-container {
  right: 10px;
  left: initial;
}
.transcription-row.rtl-transcriptions .transcription-data-container {
  margin-left: 0;
  margin-right: 40px;
}
.transcription-data-container {
  margin-left: 40px;
}
.speaker-container {
  left: 10px;
  top: 10px;
}
.speaker-container .popover-inner {
  max-height: 200px;
  overflow-y: auto;
}
.speaker-container .speaker {
  position: relative;
  color: #000;
  font-size: 10px;
  top: 17px;
  padding-top: 2px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.speaker-container .speaker:hover:not(.disabled) {
  opacity: 0.8;
}
.speaker-container .speaker.default-speaker:hover:not(.disabled) {
  color: #5a5a5a;
}
.speaker-container .speaker.disabled {
  cursor: default;
}
.speaker-container i {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}
.textarea-c.hide-label textarea.form-control {
  height: 70px;
}
.transcription-project-name {
  font-family: 'Gotham Medium';
  color: #777;
  cursor: text;
}
.transcription-project-name.disabled {
  cursor: default;
}
.transcription-project-name:hover:not(.disabled) {
  cursor: text;
}
.transcription-project-name::selection {
  background: #dfdfdf;
 /* WebKit/Blink Browsers */
}
.transcription-project-name::-moz-selection {
  background: #dfdfdf;
 /* Gecko Browsers */
}
.project-header {
  margin-bottom: 25px;
  padding-left: 30px;
}
.project-header .edit-name-input input {
  margin-top: 4px;
  padding: 0;
  max-width: calc(100% - 290px);
  text-overflow: ellipsis;
}
.project-header .fa-bookmark, .project-header .fa-bookmark-o {
  color: #f9a21d;
}
.project-header .fa-sticky-note, .project-header .fa-sticky-note-o {
  color: #0eacdf;
}

.transcription-row {
  margin: 0;
  padding: 10px 30px 5px 26px;
  border-left: 4px solid #fff;
  position: relative;
}
.transcription-row:last-child {
  padding-bottom: 5px;
}
.transcription-row.playing .transcription-time {
  color: #333;
}
.transcription-row.bookmarked {
  background: rgba(249, 142, 29, 0.2);
}
.transcription-row .inner-toolbar .bookmark-icon {
  color: #f9a21d;
}
.transcription-row .inner-toolbar .notes-icon {
  color: #0eacdf;
}
.transcription-row textarea.transcription-text {
  overflow: hidden;
}
.transcription-row textarea.transcription-text.text-align-left {
  text-align: left;
}
.transcription-row textarea.transcription-text.text-align-right {
  text-align: right;
}
.transcription-row .inner-toolbar {
  position: absolute;
}
.transcription-row .inner-toolbar.inner-toolbar-left {
  left: 51px;
  top: 10px;
}
.transcription-row .inner-toolbar.inner-toolbar-right {
  left: 50px;
  top: 32.5px;
}
.transcription-row .inner-toolbar > span {
  visibility: hidden;
  cursor: pointer;
}
.transcription-row .inner-toolbar > span.visible {
  visibility: visible;
  transition: visibility 0s linear 98ms, opacity 300ms;
}
.transcription-time {
  margin-bottom: 5px;
  display: inline-block;
  color: #b0c0c5;
  font-size: 12.5px;
  cursor: pointer;
}
.transcription-time:hover {
  color: #98a6aa;
}
.transcription-text {
  opacity: 1;
  color: #777;
  font-size: 16px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20px;
  text-align: left;
}
.transcription-text:hover {
  cursor: default;
}
.transcription-text:hover:not(.disabled) {
  cursor: text;
  color: #000;
}
.transcription-text:focus {
  opacity: 1;
}
.transcription-text:focus:not(.disabled) {
  color: #000;
}
.project-transcription .transcriptions-list-container .go-to-transcript-container {
  margin-top: -15px;
}
.project-transcription .transcriptions-list-container .go-to-transcript-container .pull-left {
  margin-left: 30px;
}
.project-transcription .transcriptions-list-container .go-to-transcript-container a {
  padding-bottom: 10px;
}
.project-transcription .transcriptions-list-container .go-to-transcript-container a:hover {
  text-decoration: none;
}
.new-speaker-input {
  background: #edeff0;
  width: 170px;
  margin-bottom: 5px;
}
.main-app-header-item .media-read-only-info-icon {
  color: red;
  font-size: 16px;
}
.remaining-time-container {
  font-size: 12px;
  min-width: 200px;
  margin-left: 5px;
}
.remaining-time-container .remaining-time-label {
  font-size: 11px;
  float: left;
  margin-left: 30px;
  margin-top: 1px;
}
.remaining-time-container .remaining-timer {
  font-family: "Courier New";
  float: left;
  margin-left: 10px;
  margin-top: 1px;
}
.remaining-time-container .countdown-decimal-seconds {
  font-family: "Courier New";
  float: left;
  width: 35px;
  text-align: left;
  margin-top: 1px;
}
.speaker-table {
  background: white;
}
.speaker-table td {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}
.speaker-table td:last-child {
  padding-left: 5px;
}
.speaker-table td:last-child input {
  margin-top: 5px;
  max-width: 120px;
}
.speaker-table td:last-child input:hover {
  background: #edeff0;
}
.speaker-table td.speaker-initials-td {
  width: 35px;
  max-width: 35px;
  cursor: pointer;
  padding-right: 10px;
}
.speaker-table td.speaker-initials-td .speaker-initials {
  background: #edeff0;
  color: #000;
  text-align: center;
  padding-top: 7px;
  margin-top: 3px;
  font-size: 10px;
}
.rowclass {
  padding: 10px;
}
.video-player-div {
  width: 40%;
}
.transcription-div {
  width: 50%;
  float: right;
  margin-top: -34%;
}
