@import "../../src/mixins/responsive";

.resume-transcript-auto-scroll {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: calc(50% + 120px);
  @include up-to-regular-desktops {
      left: calc(50% - 125px);
  }

  background: $simon-main-color;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px 15px 8px;
  opacity: 0.9;
  cursor: pointer;

  &.is-at-the-bottom {
      bottom: 83px;
  }

  &:hover {
      opacity: 1;
  }
}
